h1 {
  margin : auto;
  padding : 10px;
  background-color: aquamarine;
  color : white;
  text-align : center;
}

.accent {
  color : #ef5369;
}

.bg {
  background-color: #ddd;
  margin : 2px;
  padding : 3px;
  border-radius: 10%;
}